{% trans_default_domain 'FOSUserBundle' %}

{% include 'partials/user_menu.html.twig' %}
<div class="row">
    <div class="col-md-12">
        <div class="fos_user_user_show">
            <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
            <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        </div>
    </div>
</div>
