{% if app.user %}
    <div class="row" style="padding-bottom: 20px;">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="{{ app.request.attributes.get('_route') == 'fos_user_profile_show' ? 'active' }}">
                    <a href="{{ path('fos_user_profile_show') }}">Profile</a>
                </li>
                <li class="{{ app.request.attributes.get('_route') == 'fos_user_profile_edit' ? 'active' }}">
                    <a href="{{ path('fos_user_profile_edit') }}">Edit</a>
                </li>
                <li class="{{ app.request.attributes.get('_route') == 'fos_user_change_password' ? 'active' }}">
                    <a href="{{ path('fos_user_change_password') }}">Change password</a>
                </li>
                <li class="{{ app.request.attributes.get('_route') == 'profile_album_index' ? 'active' }}">
                    <a href="{{ path('profile_album_index') }}">Albums</a>
                </li>
            </ul>
        </div>
    </div>
{% endif %}
