{% macro breadcrumb(album, original) %}
    {% if album is not null %}
        {{ _self.breadcrumb(album.parent, original) }}
        {% if album.id == original.id %}
            <li class="active">{{ album.name }}</li>
        {% else %}
            <li><a href="{{ path('profile_album_show', {id: album.id}) }}">{{ album.name }}</a></li>
        {% endif %}
    {% else %}
        {% if original is null %}
            <li class="active">Default</li>
        {% else %}
            <li><a href="{{ path('profile_album_index') }}">Default</a></li>
        {% endif %}
    {% endif %}
{% endmacro %}
