{% extends 'base.html.twig' %}

{% block content %}
    {% include 'partials/user_menu.html.twig' %}
    <div class="row">
        <div class="col-md-12">
            {% block userContent %}{% endblock %}
        </div>
    </div>
{% endblock %}
