{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-md-4">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}"/>
        </div>
        {{ form_end(form) }}
    </div>
</div>
