{% trans_default_domain 'FOSUserBundle' %}

{% include 'partials/user_menu.html.twig' %}
<div class="row">
    <div class="col-md-4">
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="{{ 'change_password.submit'|trans }}"/>
        </div>
        {{ form_end(form) }}
    </div>
</div>
