{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-md-4">
        {{ form_start(form, { 'action': path('fos_user_group_edit', {'groupName': group_name}), 'attr': { 'class': 'fos_user_group_edit' } }) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="{{ 'group.edit.submit'|trans }}"/>
        </div>
        {{ form_end(form) }}
    </div>
</div>
