{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="row">
    <div class="col-md-4">
        <form action="{{ path("fos_user_security_check") }}" method="post">
            {% if app.request.get('_route') != app.request.headers.get('referer') %}
                <input type="hidden" name="_target_path" value="{{ app.request.headers.get('referer') }}" />
            {% endif %}
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            {% endif %}

            <div class="form-group">
                <label class="control-label required" for="username">{{ 'security.login.username'|trans }}</label>
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>
            </div>

            <div class="form-group">
                <label class="control-label required" for="password">{{ 'security.login.password'|trans }}</label>
                <input class="form-control" type="password" id="password" name="_password" required="required"/>
            </div>

            <div class="checkbox">
                <label for="remember_me">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                    {{ 'security.login.remember_me'|trans }}
                </label>
            </div>

            <div class="form-group">
                <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"/>
            </div>

        </form>
    </div>
</div>
