{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-md-4">
        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
            <div class="form-group">
                <label class="control-label required" for="username">{{ 'resetting.request.username'|trans }}</label>
                <input type="text" id="username" name="username" required="required" class="form-control"/>
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="{{ 'resetting.request.submit'|trans }}"/>
            </div>
        </form>
    </div>
</div>
