{% extends '@Gallery/user_base.html.twig' %}
{% import '@Gallery/macros.html.twig' as macros %}

{% block userContent %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                {{ macros.breadcrumb(album, album) }}
            </ol>
        </div>
    </div>
    {% if can_edit %}
        <div class="row">
            <div class="col-md-12">
                <p>
                    {% if album is null %}
                        <a class="btn btn-success" href="{{ path('profile_album_new') }}">Create a new album</a>
                    {% else %}
                        <a class="btn btn-success" href="{{ path('profile_album_new', {albumId:album.id}) }}">
                            Create a new album
                        </a>
                        <a class="btn btn-success" href="{{ path('profile_image_new', {albumId:album.id}) }}">
                            Add image
                        </a>
                    {% endif %}
                </p>
            </div>
        </div>
    {% endif %}
    <div class="row">
        {% for album in albums %}
            {% if can_edit or not album.private %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail alert-warning">
                        <a class="fancybox" rel="images" href="{{ getFullImage(album) }}" title="<b>{{ album.name }}</b>. {{ album.description }}">
                            <img style="height: 200px; max-width: 100%; display: block;" src="{{ getImage(album) }}">
                        </a>
                        <div class="caption">
                            <h3><a href="{{ path('profile_album_show', { 'id': album.id }) }}">{{ album.name }}</a></h3>
                            <p>{{ album.description }}</p>
                            {% if can_edit %}
                                <p>Private: {% if album.private %}Yes{% else %}No{% endif %}</p>
                                <p>
                                    <a href="{{ path('profile_album_edit', { 'id': album.id }) }}" class="btn btn-default" role="button">
                                        <i class="glyphicon glyphicon-edit"></i> Edit
                                    </a>
                                    <a href="#" class="btn btn-danger" data-href="{{ path('profile_album_delete', { 'id': album.id }) }}" data-toggle="modal" data-target="#confirm-delete">
                                        <i class="glyphicon glyphicon-remove"></i> Delete
                                    </a>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        {% for image in images %}
            {% if can_edit or not image.private %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a class="fancybox" rel="images" href="{{ getFullImage(image) }}" title="<b>{{ image.name }}</b>. {{ image.description }}">
                            <img style="height: 200px; max-width: 100%; display: block;" src="{{ getImage(image) }}">
                        </a>
                        <div class="caption">
                            <h3>{{ image.name }}</h3>
                            <p>{{ image.description }}</p>
                            {% if can_edit %}
                                <p>Private: {% if image.private %}Yes{% else %}No{% endif %}</p>
                                <p>
                                    <a href="{{ path('profile_image_edit', { 'id': image.id }) }}" class="btn btn-default" role="button">
                                        <i class="glyphicon glyphicon-edit"></i> Edit
                                    </a>
                                    <a href="{{ path('profile_image_delete', { 'id': image.id }) }}" class="btn btn-danger" role="button">
                                        <i class="glyphicon glyphicon-remove"></i> Delete
                                    </a>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Delete album
                </div>
                <div class="modal-body">
                    Are you sure You want to delete this album?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
