{% extends '@Gallery/user_base.html.twig' %}
{% import '@Gallery/macros.html.twig' as macros %}

{% block userContent %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                {% if album is defined %}
                    {{ macros.breadcrumb(album, album) }}
                {% elseif image is defined %}
                    {{ macros.breadcrumb(image.album, image.album) }}
                {% endif %}
            </ol>
        </div>
    </div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
