{% extends 'base.html.twig' %}

{% block content %}
    {% for image in images %}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a class="fancybox" rel="images" href="{{ getFullImage(image) }}" title="<b>{{ image.name }}</b>. {{ image.description }}">
                    <img style="height: 200px; max-width: 100%; display: block;" src="{{ getImage(image) }}">
                </a>
                <div class="caption">
                    {{ image.name }}
                    (<a href="{{ path('user_gallery', {username: image.owner.username, albumId: image.album.id}) }}">{{ image.owner.username }}</a>)
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
